.swiper-container {
  .swiper-wrapper {
    height: 600px;
  }
}

.swiper-slide {
  img,video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }


  &:nth-child(even) {
    background: lightcoral;
  }
}