.swiper-container {
  .swiper-wrapper {
    height: 600px;
  }
}

.swiper-slide {
  cursor: pointer;

  &:hover {
    &:before {
      opacity: .85;
    }
  }

  img, video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    opacity: .5;
    transition: .3s opacity ease-in-out;
    z-index: 2;
  }

  .container {
    position: absolute;
    content: '';
    max-width: 1600px;
    height: 100%;
    width: 100%;
    top: 0;
    left: 50%;
    padding: 0 20px;
    transform: translateX(-50%);
    z-index: 3;

    &__wrapper {
      position: relative;
      height: 100%;
    }
  }

}

.slide-content {
  position: absolute;
  content: '';
  bottom: 20px;
  left: 0;
  max-width: 450px;

  * {
    color: white;
  }
}

.swiper-bullet__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content!important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

.swiper-bullet {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0);
  border: 2px solid white;
  margin: 0 3px;
  cursor: pointer;

  &:first-of-type {
    margin: 0 3px 0 0;
  }

  &:last-of-type {
    margin: 0 0 0 3px;
  }

  &--active {
    background: white;
  }
}