.button {
  padding: 1em 2em;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &.button-primary {
    background: #913036;
  }

  &.button-secondary {
    background: #0d2638;
  }
}